In [32]:
import pandas as pd

# Lista com os nomes dos arquivos CSV
arquivos_csv = ["datas/acid_vas_cerebral.csv", "datas/tabagismo.csv", "datas/infarto_mio.csv", "datas/renal.csv","datas/sedentarismo.csv","datas/sobrepeso.csv"]
doencas = ['acid_vas_cerebral', 'tabagismo', 'infarto_mio', 'renal', 'sedentarismo', 'sobrepeso']
dfs = [pd.read_csv(f"{data}", header=None, names=['cidade', 'sim', 'não', 'total'], delimiter=';') for data in arquivos_csv]

In [33]:
tabelas_concatenadas = []
for i,nome_tabela in enumerate(arquivos_csv):
    tabela = pd.read_csv(nome_tabela, header=None, names=['Cidade', 'Sim', 'Não', 'Total'], delimiter=';')
    tabela['Doenças'] = doencas[i]  # Adicione uma coluna com o nome da tabela
    tabelas_concatenadas.append(tabela)

In [34]:
df_concatenado = pd.concat(tabelas_concatenadas, ignore_index=True)

In [35]:
df_concatenado

                   Cidade    Sim    Não  Total            Doenças
0     ABADIA DOS DOURADOS      -      2      2  acid_vas_cerebral
1                  ABAETE      4     92     96  acid_vas_cerebral
2                 ACAIACA      1      4      5  acid_vas_cerebral
3                 ACUCENA      -     24     24  acid_vas_cerebral
4                AGUA BOA      -      1      1  acid_vas_cerebral
...                   ...    ...    ...    ...                ...
4099       VIRGEM DA LAPA      -      5      5          sobrepeso
4100             VIRGINIA      -      1      1          sobrepeso
4101         VOLTA GRANDE      -      2      2          sobrepeso
4102       WENCESLAU BRAZ      1      6      7          sobrepeso
4103                Total  13643  22992  36635          sobrepeso

[4104 rows x 5 columns]

In [36]:
df_sao_joao_del_rei = df_concatenado.loc[df_concatenado['Cidade'] == 'SAO JOAO DEL REI']

In [37]:
df_sao_joao_del_rei

                Cidade Sim  Não  Total            Doenças
589   SAO JOAO DEL REI   6  164    170  acid_vas_cerebral
1273  SAO JOAO DEL REI  29  141    170          tabagismo
1957  SAO JOAO DEL REI   4  166    170        infarto_mio
2641  SAO JOAO DEL REI  31  139    170              renal
3325  SAO JOAO DEL REI  62  108    170       sedentarismo
4009  SAO JOAO DEL REI  61  109    170          sobrepeso

In [38]:
df_sao_joao_del_rei.to_csv('sao_joao_del_rei.csv', index=False)