In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 18.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/alessandro/.local/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting numpy>=1.21.0
  Downloading numpy-1.24.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 19.1 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.2 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd

# Lista com os nomes dos arquivos CSV
arquivos_csv = ["datas/acid_vas_cerebral.csv", "datas/tabagismo.csv", "datas/infarto_mio.csv", "datas/renal.csv","datas/sedentarismo.csv","datas/sobrepeso.csv"]
dfs = [pd.read_csv(f"{data}", header=None, names=['cidade', 'cim', 'não', 'total'], delimiter=';') for data in arquivos_csv]

In [12]:
dfs[0].head()

                cidade cim  não  total
0  ABADIA DOS DOURADOS   -    2      2
1               ABAETE   4   92     96
2              ACAIACA   1    4      5
3              ACUCENA   -   24     24
4             AGUA BOA   -    1      1